@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

body {
  padding: 0;
  margin: 0;
  font-family: "Acme", sans-serif;
  background-image: url(https://static01.nyt.com/images/2022/01/16/fashion/VIRAL-LIBRARY/VIRAL-LIBRARY-superJumbo.jpg);
}

.gray-backgroud {
  background-color: rgba(56, 47, 47, 0.63);
  height: clamp(905px, 2.5vw, 10000px);
  width: 100%;
}

@media (max-width: 768px) {
  .gray-backgroud {
    background-color: rgba(56, 47, 47, 0.63);
    height: clamp(800px, 2.5vw, 10000px);
    width: 100%;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding-left: 35px;
  padding-right: 35px;
  background-color: rgb(43, 43, 43);
  color: wheat;
}

.brandname {
  font-size: 25px;
}

.navlinks ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navlinks ul li {
  display: block;
  padding: 1rem;
  border-style: solid;
  border-color: white;
  border-top: none;
  border-bottom: none;
  border-right: none;
}

.navlinks ul li a {
  color: wheat;
  text-decoration: none;
}

.navlinks ul li a:hover {
  position: relative;
  bottom: 3px;
  color: white;
}

.navlinks ul li a:active {
  color: rgb(134, 106, 106);
}

.togglebtn {
  position: absolute;
  right: 1rem;
  top: 0.7rem;
  height: 40px;
  width: 40px;
  display: none;
  justify-content: space-evenly;
  flex-direction: column;
}

.togglebtn .bars {
  height: 5px;
  width: 100%;
  border-radius: 5px;
  background-color: wheat;
}

@media (max-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: start;
    align-items: start;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgb(43, 43, 43);
    color: wheat;
  }

  .brandname {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 25px;
    right: 0.1rem;
  }

  .navlinks {
    display: none;
  }

  .navlinks ul {
    display: flex;
    position: relative;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .navlinks ul li {
    margin-bottom: 1rem;
  }

  .togglebtn {
    display: flex;
  }

  .navlinks.active {
    display: block;
  }
}

.books-container {
  display: none;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  text-align: start;
  padding: 1rem;
}

.header-title {
  color: rgb(255, 255, 255);
}

.input-wrap {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 100%;
}

.title {
  text-align: center;
  align-items: center;
  height: 35px;
  width: 500px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.author {
  text-align: center;
  align-items: center;
  height: 35px;
  width: 500px;
  margin-bottom: 1rem;
}

.add-button {
  background-color: rgb(255, 255, 255);
  height: 30px;
  width: 250px;
  border-width: 1px;
  background-color: rgb(93, 186, 223);
  border-color: black;
  border-style: none;
}

.add-button:hover {
  background-color: white;
  color: black;
}

.add-button:active {
  color: rgb(0, 0, 0);
  background-color: gray;
}

@media (max-width: 768px) {
  .title {
    text-align: center;
    align-items: center;
    height: 25px;
    width: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .author {
    text-align: center;
    align-items: center;
    height: 25px;
    width: 300px;
    margin-bottom: 1rem;
  }

  .add-button {
    height: 30px;
  }
}

.footer {
  display: block;
  height: 50px;
  border-style: dotted;
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-color: wheat;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 0;
  background-color: rgb(43, 43, 43);
}
