@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

body {
  padding: 0;
  margin: 0;
  font-family: "Acme", sans-serif;
  background-image: url(https://static01.nyt.com/images/2022/01/16/fashion/VIRAL-LIBRARY/VIRAL-LIBRARY-superJumbo.jpg);
}

.gray-backgroud {
  background-color: rgba(56, 47, 47, 0.63);
  height: clamp(1200px, 2.5vw, 10000px);
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding-left: 35px;
  padding-right: 35px;
  background-color: rgb(43, 43, 43);
  color: wheat;
}

.brandname {
  font-size: 25px;
}

.navlinks ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navlinks ul li {
  display: block;
  padding: 1rem;
  border-style: solid;
  border-color: white;
  border-top: none;
  border-bottom: none;
  border-right: none;
}

.navlinks ul li a {
  color: wheat;
  text-decoration: none;
}

.navlinks ul li a:hover {
  position: relative;
  bottom: 3px;
  color: white;
}

.navlinks ul li a:active {
  color: rgb(134, 106, 106);
}

.togglebtn {
  position: absolute;
  right: 1rem;
  top: 0.7rem;
  height: 40px;
  width: 40px;
  display: none;
  justify-content: space-evenly;
  flex-direction: column;
}

.togglebtn .bars {
  height: 5px;
  width: 100%;
  border-radius: 5px;
  background-color: wheat;
}

@media (max-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: start;
    align-items: start;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgb(43, 43, 43);
    color: wheat;
  }

  .brandname {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 25px;
    right: 0.1rem;
  }

  .navlinks {
    display: none;
  }

  .navlinks ul {
    display: flex;
    position: relative;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .navlinks ul li {
    margin-bottom: 1rem;
  }

  .togglebtn {
    display: flex;
  }

  .navlinks.active {
    display: block;
  }
}

.header {
  display: flex;
  flex-direction: column;

  justify-content: space-evenly;
  background-position: center;
  background-repeat: no-repeat;

  align-items: center;
  text-align: start;
  padding: 1rem;
}

.header-title {
  color: rgb(255, 255, 255);
}

.books-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 75%;
  background-color: rgba(245, 222, 179, 0.541);
}

.book-wrap {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  height: 15px;
  padding: 5px;
  margin: 5px;
}

.text-wrap {
  display: flex;
  border-color: rgb(0, 0, 0);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: rgba(255, 255, 255, 0.664);
  position: relative;
  text-align: start;
  align-items: center;
  height: 30px;
  margin-left: 0.2rem;
}

.title-text {
  margin-right: 0.2rem;
}

.author-text {
  margin-right: 0.2rem;
}

.remove {
  color: white;
  position: absolute;
  right: 15%;
  border-style: solid;
  border-width: 1px;
  background-color: rgb(148, 53, 53);
  border-color: black;
  border-style: none;
  height: 25px;
}

.remove:hover {
  background-color: white;
  color: black;
}

.remove:active {
  color: rgb(0, 0, 0);
  background-color: gray;
}

@media (max-width: 768px) {
  .books-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 99%;
    background-color: rgba(245, 222, 179, 0.541);
  }

  .title-text {
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: start;
    flex-direction: row;
    font-size: 14px;
    overflow-x: scroll;
    max-width: 10ch;
    margin-right: 0.5rem;
  }

  .author-text {
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: start;
    flex-direction: row;
    font-size: 14px;
    overflow-x: scroll;
    max-width: 18ch;
    margin-right: 0.4rem;
  }

  .remove {
    font-size: 12px;
    right: 1.5rem;
  }
}

.input-wrap {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.title {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.author {
  margin-bottom: 1rem;
}

.add-button {
  width: 50px;
}
